/* CSS for Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

/* CSS for Home Page */
.home {
  display: flex;
  justify-content: center;
}

/* CSS for Squares and Pieces of the board */
.square {
  background-repeat: no-repeat;
  background-size: cover;
}

.dragImage {
  background-color: transparent;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wheat {
  background-color: wheat;
}

.chocolate {
  background-color: chocolate;
}