/* CSS for Home Page */
.home {
  display: flex;
  justify-content: center;
}

/* CSS for Squares of the board */
.square {

}

.wheat {
  background-color: wheat;
}

.chocolate {
  background-color: chocolate;
}